$main: #00C4F9;
$textmain: #333333;
$textsecond: #ffffff;
$btn: #FF2E50;

/* ------------------------------------------------ */

$font-main: "Roboto", "Open Sans", sans-serif;

/* ------------------------------------------------ */

$mobile-width: "min-width: 576px";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";

/* ------------------------------------------------ */

$retina: "min-resolution: 144dpi";
$retina2: "min-resolution: 1.5dppx";
