.why {
  padding-top: 10px;
  padding-bottom: 10px;
  &__wrapper {
    @include container;
  }
  &__img {
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__name {
    text-align: center;
    font-weight: 700;
  }
  &__descr {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {
  .why {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
@media ($desktop-width) {
  .why {
    padding-top: 50px;
    padding-bottom: 60px;
    &__img {
      margin-bottom: 20px;
      img {
        max-width: 50px;
      }
    }
    &__items {
      display: flex;
      justify-content: space-between;
    }
    &__name {
      position: relative;
    }
    &__descr {
      max-width: 275px;
    }
  }
}
